@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito Sans", "PingFang SC", "Microsoft YaHei", system-ui,
    sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
}

body {
  margin: 0;
  background-color: #f8fafc;
  color: #0f172a;
}
